@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: David libre, sans-serif;
    font-weight: 200;
    color: #3a3a3a;
}

/* heading and logo following the love ranning project*/

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252522;

}

#logo {
    float: left;
    font-size: 100;
}

/*navigation links*/
#menu {
    font-size: 150%;
    letter-spacing: 3px;
    font-weight: bold;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
}

#menu a:hover {

    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#cover-text,
#cover-text h1 {
    color: antiquewhite;
}

#hero-image {
    background: url("../images/hero-image\ \(3\).jpg") no-repeat center center;

    background-size: cover;

    height: 100vh;
}

/*cover text*/
#cover-text h1 {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 300px;
    height: 200px;
    padding-top: 30px;
    padding-right: 150px;
    bottom: 300px;
    left: 80px;
    position: absolute;
}

/*style the read more button*/
#btn {
    font-size: 50%;
    display: inline-block;
    border: none;
    background-color: none;
    color: antiquewhite;
    width: 150px;
    height: 30px;
    text-decoration: none;
}

/*button animation*/
#btn:hover {
    color: rgb(40, 81, 134);
    font-size: 60%;
}

/*footer*/
footer {
    height: 150%;
}

footer h2 {
    text-align: center;
}

.external_links a {
    text-decoration: none;
    color: #3a3a3a
}

.external_links {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #3a3a3a
}

.external_links li {

    display: inline;
    margin: 6%;
    padding: 2%;


}

/* video and pic*/
#gallary {
    clear: both;


    column-count: 3;
    column-gap: 1%;

}

#gallary h2 {
    text-align: center;
}

.picture {
    width: 100%;


}

.meditation-video {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    color: #3a3a3a;
    border: none;
    text-decoration: none
}

/*About page docaration*/
.top-side {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    letter-spacing: 3px;
    width: 100%;
    padding-top: 80px;
    padding-right: 3px;
    padding-left: 3px;
    
}

.top-side h1{
    text-align: center;
}
.social-links,h2{
    text-align: center;
    padding-top: 80px;
    }
    .social-links li,i{
        display: inline;}
        .social-links i{
            font-size: 160%;
        margin: 1%;
        padding: 5%;
        color: #3a3a3a;
    }
        